:root {
    --primary-color: #82c5f1;
    --blue-hover: #3996d4;
    --gray-darkest: #5a5f63;
    --gray-middle: #7E8299;
    --gray-light: #d6d7da;
    --background-color: #f8f9fa;
    --text-color: #000;
    --highlight-color: #76c7c0;
  }
  